# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/evgo_db
DB_NAME=evgo_db
DB_USERNAME=postgres
DB_PASSWORD=your_password

#Cloudinary Configuration
CLOUD_NAME=my_cloud_name
CLOUD_API_KEY=my_api_key
CLOUD_API_SECRET=my_api_secret

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Configuration
JWT_SECRET=your-secret-key-min-256-bits-long-base64-encoded
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# Cookie Configuration
COOKIE_ACCESS_TOKEN_NAME=access_token
COOKIE_ACCESS_TOKEN_MAX_AGE=3600
COOKIE_REFRESH_TOKEN_NAME=refresh_token
COOKIE_REFRESH_TOKEN_MAX_AGE=604800
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false
COOKIE_SAME_SITE=Lax
COOKIE_PATH=/

# Email Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mail_dung_de_support@gmail.com
MAIL_PASSWORD=your_app_password_here

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

# Server Configuration
SERVER_PORT=8081
