# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/evgo_db
DB_NAME=evgo_db
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_PORT=5432
#chay local thi de la localhost, chay trong docker thi de postgres
DB_HOST=postgres

#Cloudinary Configuration
CLOUD_NAME=my_cloud_name
CLOUD_API_KEY=my_api_key
CLOUD_API_SECRET=my_api_secret

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SSL=false

# JWT Configuration
JWT_SECRET=your-secret-key-min-256-bits-long-base64-encoded
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# Cookie Configuration
COOKIE_ACCESS_TOKEN_NAME=access_token
COOKIE_ACCESS_TOKEN_MAX_AGE=3600
COOKIE_REFRESH_TOKEN_NAME=refresh_token
COOKIE_REFRESH_TOKEN_MAX_AGE=604800
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false
COOKIE_SAME_SITE=Lax
COOKIE_PATH=/

# Email Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mail_dung_de_support@gmail.com
MAIL_PASSWORD=your_app_password_here

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

# File Upload Configuration
APP_UPLOAD_MAX_SIZE=10485760

# Activation Token Configuration
APP_ACTIVATION_TOKEN_EXPIRY_HOURS=24

# Server Configuration
PORT=8080

# ZaloPay Sandbox Config
ZALOPAY_APP_ID=2553
ZALOPAY_KEY1=sdngKKJmqEMzvh5QQcdD2A9XBSKUNaYn  # Change key here
ZALOPAY_KEY2=trMrHtvjo6myautxDUiAcYsVtaeQ8nhf # Change key here
ZALOPAY_ENDPOINT=https://sb-openapi.zalopay.vn/v2

# App Callback (dev: use ngrok)
ZALOPAY_CALLBACK_URL=https://abcd-123.ngrok-free.app/api/v1/zalopay/callback
ZALOPAY_REDIRECT_URL=
